<md-card fxLayout='row' fxLayoutAlign="center">
  <md-card-title fxFlex="20" fxlayoutalign="center center">Search</md-card-title>
  <md-input-container fxflex="20" fxlayoutalign="center center">
    <input mdInput placeholder="seaech" value="">
  </md-input-container>
  <button md-button routerLink=".">Search</button>
</md-card>

<div fxLayout='row'>
  <md-card fxFlex="30">
    <md-list>
      <md-list-item>
        <md-icon md-list-avatar>book</md-icon>
        <h4 md-line>Repositories</h4>
        <span>2222</span>
      </md-list-item>
     <md-list-item>
        <md-icon md-list-avatar>code</md-icon>
        <h4 md-line>Commits</h4>
      </md-list-item>
     <md-list-item>
        <i class="mdi mdi-checkbox-blank"></i>
        <md-icon md-list-avatar>face</md-icon>
        <h4 md-line>Users</h4>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <h3 md-subheader>Languages</h3>
      <md-list-item *ngFor="let language of languages">
        <md-icon md-list-avatar>folder</md-icon>
        <h4 md-line>{{language.name}}</h4>
        <span> {{language.quantity}} </span>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card fxFlex="70">
    <h2>Showing 2,921,976 available repository results </h2>
    <form>
    <md-select placeholder="" [(ngModel)]="selectedValue" name="sort">
      <md-option *ngFor="let sort of sortValues" [value]="sort.value">
        {{sort.viewValue}}
      </md-option>
    </md-select>

    <p> Selected value: {{selectedValue}} </p>
    </form>

    <md-card class="example-card">
      <md-card-header>
        <md-card-title>repo name</md-card-title>
        <md-card-subtitle>description</md-card-subtitle>
      </md-card-header>
      <md-card-actions>
        <span>langulage</span>
        <button md-button><md-icon md-list-avatar>stars</md-icon>112</button>
        <button md-button><md-icon md-list-avatar>stars</md-icon>112</button>
        <span md-line> 20.20.1017 </span>
      </md-card-actions>
    </md-card>
  </md-card>
</div>

