<md-card fxLayout='row' fxLayoutAlign="center" (keyup.enter)="search(filter.value)">
  <md-card-title fxFlex="20" fxlayoutalign="center center">Search</md-card-title>
  <md-input-container fxflex="20" fxlayoutalign="center center">
    <input mdInput placeholder="search" value="" #filter>
  </md-input-container>
  <button md-button (click)="search(filter.value)">Search</button>
</md-card>

<div fxLayout='row'>
  <md-card fxFlex="30">
    <md-list>
      <md-list-item>
        <h4 md-line>Repositories</h4>
        <span>{{totalRepo}}</span>
      </md-list-item>
     <md-list-item>
        <h4 md-line>Commits</h4>
      </md-list-item>
     <md-list-item>
        <h4 md-line>Users</h4>
      </md-list-item>
    </md-list>
    <md-divider></md-divider>
    <md-list>
      <h3 md-subheader>Languages</h3>
      <md-list-item *ngFor="let language of languages">
        <h4 md-line>{{language.name}}</h4>
        <span> {{language.quantity}} </span>
      </md-list-item>
    </md-list>
  </md-card>

  <md-card fxFlex="70">
    <h2>Showing {{totalRepo}} available repository results </h2>
    <form class="sort">
      <md-select placeholder="" [(ngModel)]="selectedValue" name="sort">
        <md-option *ngFor="let sort of sortValues" [value]="sort.value">
          {{sort.viewValue}}
        </md-option>
      </md-select>

      <p> Selected value: {{selectedValue}} </p>
    </form>

    <app-repo-list *ngIf="repos" [repos]="repos" [totalRepo]="totalRepo"></app-repo-list>

  </md-card>
</div>

